// Colors
$blue: #3282f7;
$light-gray: #e7e7e7;
$light-gray-alt: #c7bebe;
$green: #68d9a4;
$red: #ed6454;
$black: #000000;
$white: #ffffff;

// Breakpoints
$breakpoints: (
    'mobile': 320px,
    'tablet': 768px,
    'desktop': 1024px,
);
