/**
 Les petits plats - OC P7

 **/
body {
  display: flex;
  flex-direction: column;
  max-width: 1240px;
  min-height: 100vh;
  background-color: #ffffff;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 18px;
  margin: 0 auto;
}

/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

ul,
ol,
li {
  margin: 0;
  padding: 0;
  text-indent: 0;
  list-style: none;
}

#root,
#__next {
  isolation: isolate;
}

.header {
  display: flex;
  justify-content: center;
}
.header__logo {
  padding: 40px 0 20px;
}

.results {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.inputElements {
  position: relative;
  margin-bottom: 25px;
}
.inputElements__box {
  width: 100%;
  background-color: #e7e7e7;
  border: none;
  border-radius: 5px;
  padding: 22px;
}
.inputElements__box::placeholder {
  color: #000000;
  opacity: 0.25;
}
.inputElements__label {
  position: absolute;
  top: calc(50% - 16px);
  right: 15px;
}

.tag {
  display: inline-flex;
  align-items: center;
  padding: 5px 20px;
  margin: 0 15px 15px 0;
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  border-radius: 5px;
  text-transform: capitalize;
}
.tag--blue {
  background-color: #3282f7;
}
.tag--red {
  background-color: #ed6454;
}
.tag--green {
  background-color: #68d9a4;
}
.tag--closeIcon {
  border: none;
  background: none;
  padding: 0 0 0 13px;
  cursor: pointer;
}

.filters {
  display: flex;
  align-items: flex-start;
}

.filterOption {
  display: flex;
  align-items: center;
  padding: 20px;
  margin: 0 15px 10px 0;
  color: #ffffff;
  font-weight: 700;
  border-radius: 5px;
  width: auto;
  transition: width 0.3s ease-in-out;
}
.filterOption__inputGroup {
  display: flex;
  align-items: center;
  width: 100%;
}
.filterOption.open .filterOption__inputGroup {
  margin-bottom: 20px;
}
.filterOption label {
  padding-right: 20px;
  display: inline;
}
.filterOption.open {
  width: 667px;
  flex-direction: column;
}
.filterOption.open label {
  display: none;
}
.filterOption__searchInput {
  border: none;
  color: inherit;
  background-color: inherit;
  outline: none;
  width: 100%;
}
.filterOption__searchInput::placeholder {
  color: #ffffff;
  opacity: 0.7;
}
.filterOption:not(.open) .filterOption__searchInput {
  display: none;
}
.filterOption--blue {
  background-color: #3282f7;
}
.filterOption--red {
  background-color: #ed6454;
}
.filterOption--green {
  background-color: #68d9a4;
}
.filterOption--arrowIcon {
  cursor: pointer;
  border: none;
  background: none;
  margin-left: auto;
  transition: transform 0.3s ease-in-out;
  transform: rotate(0);
}
.filterOption.open .filterOption--arrowIcon {
  transform: rotate(180deg);
}
.filterOption__searchTags {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 3px;
  max-height: 300px;
  overflow-y: auto;
  gap: 0.625rem;
  scrollbar-width: thin;
}
.filterOption:not(.open) .filterOption__searchTags {
  display: none;
}
.filterOption__searchTags li {
  cursor: pointer;
  text-transform: capitalize;
}

.recipe {
  width: 380px;
  height: auto;
  background-color: #e7e7e7;
  border-radius: 5px;
  margin-bottom: 20px;
}
.recipe__cover {
  height: 178px;
  background-color: #c7bebe;
  border-radius: 5px 5px 0 0;
}
.recipe__title {
  display: flex;
  padding: 20px;
}
.recipe__title h2 {
  font-size: 18px;
  font-weight: 400;
}
.recipe__time {
  position: relative;
  font-weight: 700;
  margin-left: auto;
  padding-left: 27px;
  flex-shrink: 0;
}
.recipe__time::before {
  position: absolute;
  left: 0;
  top: 2px;
  display: block;
  content: "";
  width: 20px;
  height: 20px;
  background: url(../img/timerIcon.svg);
}
.recipe__body {
  display: flex;
  font-size: 12px;
  padding: 0 20px 20px 20px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.recipe__body__ingredients {
  flex-basis: 49%;
}
.recipe__body__instructions {
  flex-basis: 49%;
  margin-left: auto;
  max-height: 110px;
}
.recipe__body__instructions p {
  overflow-wrap: anywhere;
}

/*# sourceMappingURL=styles.css.map */
