.filterOption {
    display: inline-flex;
    align-items: center;
    padding: 23px 20px;
    margin: 0 15px 10px 0;
    color: $white;
    font-weight: 700;
    border-radius: 5px;

    &--blue {
        background-color: $blue;
    }
    &--red {
        background-color: $red;
    }
    &--green {
        background-color: $green;
    }
    &--arrowIcon {
        border: none;
        background: none;
        padding: 0 0 0 30px;
    }
}
