.recipe {
    width: 380px;
    height: auto;
    background-color: $light-gray;
    border-radius: 5px;
    margin-bottom: 50px;

    &__cover {
        height: 178px;
        background-color: $light-gray-alt;
        border-radius: 5px 5px 0 0;
    }

    &__title {
        display: flex;
        padding: 20px;

        h2 {
            font-size: 18px;
            font-weight: 400;
        }
    }

    &__time {
        position: relative;
        font-weight: 700;
        margin-left: auto;
        padding-left: 27px;
        flex-shrink: 0;

        &::before {
            position: absolute;
            left: 0;
            top: 2px;
            display: block;
            content: '';
            width: 20px;
            height: 20px;
            background: url(../img/timerIcon.svg);
        }
    }

    &__body {
        display: flex;
        font-size: 12px;
        padding: 0 20px 20px 20px;
        overflow: hidden;
        text-overflow: ellipsis;

        &__ingredients {
            flex-basis: 49%;
        }
        &__instructions {
            flex-basis: 49%;
            margin-left: auto;
            max-height: 110px;

            p {
                overflow-wrap: anywhere;
            }
        }
    }
}
