.tag {
    display: inline-flex;
    align-items: center;
    padding: 5px 20px;
    margin: 0 15px 15px 0;
    color: $white;
    font-size: 14px;
    font-weight: 700;
    border-radius: 5px;
    text-transform: capitalize;

    &--blue {
        background-color: $blue;
    }
    &--red {
        background-color: $red;
    }
    &--green {
        background-color: $green;
    }
    &--closeIcon {
        border: none;
        background: none;
        padding: 0 0 0 13px;
        cursor: pointer;
    }
}
